<!doctype html>
<html lang="es" ng-app="Dashboard">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>WarManager</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">  
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/dash/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/dash/dashboard.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/dash/red.css') }}">

        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


    </head>
    <body>
        <div id="page-wrapper">

            <!-- Sidebar -->

            <div id="sidebar-wrapper">
                <ul class="sidebar">
                    <li id="toggleSideBar" class="sidebar-main">
                        <a href="#">
                            Dashboard
                            <span class="menu-icon fa fa-exchange"></span>
                        </a>
                    </li>
                    <li class="sidebar-title"><span>NAVIGATION</span></li>
                    <li class="sidebar-list">
                        <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#">Perfil <span class="menu-icon fa fa-tasks"></span></a>
                    </li>
                    <li class="sidebar-list">
                        <a href="#">Estadísticas <span class="menu-icon fa fa-cogs"></span></a>
                    </li>
                    <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
                    <li class="sidebar-list">
                        <a href="#">Foro <span class="menu-icon fa fa-external-link"></span></a>
                    </li>
                </ul>
                <div class="sidebar-footer">
                    <div class="col-xs-4">
                        <a href="#">
                            Github
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#">
                            About
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#">
                            Support
                        </a>
                    </div>
                </div>
            </div>

            <!-- End Sidebar -->

            <div id="content-wrapper">
                <div class="page-content">

                    <div class="row header">
                        <div class="col-xs-12">
                            <div class="meta pull-left">
                                <div class="page">
                                    Dashboard
                                </div>
                                <div class="breadcrumb-links">
                                    Home / Dashboard
                                </div>
                            </div>
                            <div class="user pull-right">
                                <div class="item dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="img/avatar.jpg">
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Carlos Herrera                    </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="#">
                                                Dashboard
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="#">
                                                Perfil
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="#">
                                                Salir
                                            </a>
                                        </li>
                                    </ul>               
                                </div>
                                <div class="item dropdown">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-bell-o"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            Notifications
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Server Down!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Main Content -->

                    {% block content %}
                        Page without content
                    {% endblock %}

                    <!-- End Main Content -->

                </div><!-- End Page Content -->
            </div><!-- End Content Wrapper -->
        </div><!-- End Page Wrapper -->
    </body>
</html>




<script>
$(function(){
    $('#toggleSideBar').click(function(){
        $('#page-wrapper').toggleClass('active');
    });
});
</script>


      